body{
    font-family: sans-serif;

    color: #e3dfba;
    background-color: #1a1f1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 30px;
    width: 30%;
    background-color: #3699a6;
    border-radius: 3px;

    box-shadow: 0px -1px 24px 1px #87e3f1;

}

.card-header{
    text-align: center;
    border: 2px solid #6cbdb5;
    border-radius: 5px 5px 0 0;

    
}



.card-body{
    display: flex;
    justify-content: center;
    text-align: center;
        border: 2px solid #6cbdb5;
        border-radius: 0 0 5px 5px;
}

label{
    font-size: 18px;
    margin: 5px 10px;
}

input{
    background-color: #3699a6;
    border: 2px solid #6cbdb5;
    border-radius: 3px;
    color: #e3dfba;
    margin: 15px 0;
}

input::placeholder {
    color:#6cbdb5;
}

#boton{
    width: 90px;
    height: 30px;
    background-color:  #e3dfba;
    border: 2px solid #6cbdb5;
    border-radius: 5px;
    color:  #3699a6;
    margin: 15px 0;

}
#boton:hover{
    background-color: #3699a6;
    border: 2px solid #e3dfba;
    color: #e3dfba;
    animation-duration: 3s;
}